* {
    margin: 0;
    padding: 0;
}

.header {
    background: #ffffff center/cover url("/src/assets/backgrounds/old-notes.png") no-repeat;
    height: 166px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 10px;
    margin: 0;
}

.logo {
    margin-top: 5px;
    height: 105px;
    width: 82px;
}

.verse {
    font-size: 18px;
    font-family: 'Marck Script', cursive;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 700;
    font-style: italic;
    text-align: left;
    line-height: 20px;

    color: #5a5a5a;
    -webkit-text-fill-color: #5a5a5a;

    display: flex;
    flex-direction: column;

    margin-top: 5px;
}

